.layout{
    --footer-safe-height: 104px;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
}
.layoutWithPanel{
    grid-template-columns: auto minmax(0, 1fr) 360px;
}
.mainArea{
    min-width: 0;
}
.panelArea{
    min-width: 0;
    position: relative;
}
@media screen and (max-width: 640px) {
    .layout{
        grid-template-columns: 1fr;
    }
}
